<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="value">
    <input type="button" value="发送到留言板" @click="get_v">
    <ul>
        <li v-for="(v,i) in note">{{v}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:" @click="del(i)">删除</a>
        </li>
    </ul>
    <span>
        <span v-if="note.length>0">总数{{note.length}}</span>
        <input type="button" value="删除所有" @click="del_all" v-if="note.length>0">
    </span>
</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            value:'',
            note:[]

        },
        methods:{
            get_v(){
                let value = this.value
                if (value){
                    this.note.unshift(this.value)
                }
                this.value = ''
            },
            del(i){
                console.log(i);
                this.note.splice(i,1)
            },
            del_all(){
                this.note.splice(0,this.note.length)
            }
        }
    })
</script>
</body>
</html>